/* 모달 스타일 */
.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px; /* 최대 너비를 설정 */
    height: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border: none; /* 경계를 제거 */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    overflow: auto;
}

/* 오버레이 스타일 */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 검정 배경 */
}

/* 모달 내용 스타일 */
.modal-content {
    margin-bottom: 20px;
    text-align: center;
}

/* 입력 필드 스타일 */
.custom-input {
    width: 100%; /* 너비를 100%로 설정 */
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc; /* 경계 설정 */
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.custom-input:focus {
    border-color: #007bff; /* 포커스 시 경계 색상 변경 */
    outline: none;
}

/* 제출 버튼 스타일 */
.modal-submit-button {
    margin-left: 10px; /* 왼쪽 마진 추가 */
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    background-color: #00b2ff; /* 버튼 배경색 */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-submit-button:hover {
    background-color: #0056b3; /* 호버 시 버튼 배경색 */
}

/* 닫기 버튼 스타일 */
.modal-close-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    background-color: #007bff; /* 버튼 배경색 */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-close-button:hover {
    background-color: #0066cc; /* 호버 시 버튼 배경색 */
}

/* 전화번호와 버튼들을 같은 줄에 배치하는 스타일 */
.phone-and-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.phone-and-buttons p {
    margin: 0;
}
